* {
  --highlight-color: #ddd;
  --delete-action-color: rgba(255, 0, 0, 0.25);
  --positive-action-color: rgba(0, 255, 0, 0.25);
  --normal-color: #fff;
  --select-color: #007bff;
}


.App {
  text-align: center;
}

#content {
  margin: 15px 15px 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}


#navigation {
  width: 100%;
  align-content: center;
  justify-content: center;
}



.actionbar {
  display: flex;
  flex-direction: row;
}

.actionbar * {
  margin: 0 5px;
}

.card {
  margin: 25px;
}

.card-title {
padding: 1.25rem;
}

.inputgroup {
  border: solid 0.25pt gray;
  margin: 15px;  
  padding: 25px;
}



.List {
  width: 100%;
  border: 1px solid #DDD;
  margin-top: 15px;
}

.database-row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  background-color: var(--normal-color);
  border-bottom: 1px solid #e0e0e0;

  cursor: pointer;
}


.database-row:hover {
  background-color: var(--highlight-color);
}




.login_people {
  display: flex;
  flex-wrap: wrap;
}

.login_person {
  text-align: center;
  border-radius: 5px;
  border: solid thin black;
  padding: 5px;
  margin-left: 15px;
  margin: 5px 15px;
  width: 150px;
  cursor:pointer; 
}

.login_person:hover {
  background-color: var(--positive-action-color);
}

.ready_bhajan, .my-ready-list-item {
  border-radius: 5px;
  border: solid thin black;
  padding: 5px;
  margin-left: 15px;
  margin: 5px 15px;
  width: 250px;
  background-color:var(--positive-action-color);
  cursor:pointer;
}


.ready_bhajan:hover {
  background-color: var(--delete-action-color);
  cursor: not-allowed;
}



.next-week-card {
  width: 250px;
}



