.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#navigation {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
#navigation button {
  margin: 20px; 
}








* {
  --highlight-color: #ddd;
  --normal-color: #fff;

}
.List {
  width: 100%;
  border: 1px solid #DDD;
  margin-top: 15px;
}

.row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  background-color: var(--normal-color);
  border-bottom: 1px solid #e0e0e0;

  cursor: pointer;
}


.row:hover {
  background-color: var(--highlight-color);
}
